
@{
    ViewBag.Title = "NewAdminUser";
}

<div class="mainContainerAdmin">

    <div class="row" style="margin-top: 5vh; font-size: 1.5rem;">
        <div>
            <a class="QManagerBtn" href="@Url.Action("index", "home")" role="button" style="padding: 1rem 4rem; position: absolute; top: 10px; left: 10px;">
                <i class="fas fa-chevron-left"></i> Home
            </a>
        </div>
    </div>
    <div class="admin" style="margin-top: 5vh; font-size: 2rem;">
        <div class="row">
            <h2 class="teachTitle">New Lab Tutor</h2>
            <div>
                <form action="@Url.Action("Index", "home")" method="post">
                    <div style="margin-top: 4vh;">
                        <div class="errorMessage">
                            <div id="emailError"></div>
                        </div>
                        <label for="NewAdminUser">Dundee Email Address:</label><br />
                        <input type="email" id="NewAdminUser" name="NewAdminUser" pattern=".+dundee.ac.uk" title="Please enter a valid Dundee email address" required placeholder="JoeBloggs@dundee.ac.uk" style="width:40vh; border-radius: 8px;" />
                    </div>

                    <div style="margin-top: 11vh;">
                        <button class="JoinQueueBtn" type="submit">Create Admin User</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

