

@{
    ViewBag.Title = "QueueComplete";
}


<div class="mainContainer" style="overflow-y:auto; margin-top: 5vh;">

    <div class="row" style="margin-top: 5vh; font-size: 2rem;">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Lab Support</h1>
            <div style="margin-top: 5vh;">
                <strong>Thanks for using the Lab Support System!</strong>
                <p>Please fill in the survey below:</p>

            </div>
            <div style="margin-top: 2vh; overflow-x: auto; overflow-y: auto;">
                <iframe width="640px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=OTEyrjoJKk2Bpl0zS82QGUUIcJa0ns1GnqOCfu5FqglUN0hPU1dTQlBIUVJYSTlaSzdFRVRUVUtHTS4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
            </div>



        </div>





    </div>

</div>

<script>

</script>

